<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore database="SqlServer">
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly id="Sitecore.Support.95203">/bin/Sitecore.Support.95203.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
      <httpRequestBegin>
        <processor type="Sitecore.Support.Pipelines.HttpRequest.ItemResolver, Sitecore.Support.95203" patch:instead="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>